.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
}

.blog-item {
  display: block;

  .blog-item-img {
    width: 100%;
    height: 180px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .blog-item-txt {
    h3 {
      color: #fff;
      padding: 8px;
      margin-bottom: 16px;
      background-color: $darkBlue;
    }

    p {
      color: $grey;
    }
  }
}

@media screen and (min-width: 768px) {
  .blog-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .blog-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
