.filter {
  width: 100%;

  &.filter-home {
    transform: translate3d(0, -30%, 0);
  }

  form {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: $red;

    .filter-inputs {
      display: grid;
      gap: 8px;
      grid-template-columns: repeat(2, 1fr);
    }

    input:not([type='range']) {
      width: 100%;
      padding: 8px;
      background-color: #fff;
      border: none;
    }

    input[type='range'] {
      -webkit-appearance: none;
      width: 100%;
      margin: 16px 0;
      background: transparent;

      &::-webkit-slider-thumb {
        width: 16px;
        height: 16px;
        margin-top: 0;
        -webkit-appearance: none;
        background: $darkRed;
        border-radius: 50%;
        margin-top: -7px;
        cursor: pointer;
      }

      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 2px;
        background: $darkRed;
        border-radius: 1.3px;
        border: none;
        cursor: pointer;
      }
    }

    .filter-preco {
      width: 100%;
      margin: 16px 0;

      span {
        display: block;
        color: #fff;
        text-align: center;
      }

      .control-values {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    button {
      padding: 16px 32px;
      align-self: center;
      background-color: $darkRed;
      border: 1px solid $darkRed;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.05rem;
      transition: 0.3s background-color, 0.3s color;
      cursor: pointer;

      &:hover {
        background-color: #fff;
        color: $red;
      }
    }
  }
}

@media screen and (min-width: 1050px) {
  .filter form {
    padding: 32px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .filter-inputs {
      width: 450px;

      input {
        padding: 16px;
      }
    }

    .filter-preco {
      flex: 1;
      margin: 0 32px;
    }
  }
}
