.contato-dados {
  img {
    width: 100%;
    margin-bottom: 32px;
  }

  address {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-style: normal;

    a {
      padding: 8px 0;
      display: flex;
      align-items: center;

      svg {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        fill: $darkBlue;
      }

      span {
        color: $darkBlue;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .contato-dados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    align-items: center;

    img {
      margin: 0;
    }
  }
}
