.footer {
  padding: 64px 0 0;
  background-color: $darkBlue;

  > .container {
    display: flex;
    flex-direction: column;

    h3 {
      margin-bottom: 16px;
      color: #fff;
      font-size: 24px;
      font-style: normal;
    }
  }
}

.contato-footer {
  font-style: normal;

  div {
    display: flex;
    flex-direction: column;

    a {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 8px 0;

      svg {
        width: 16px;
        height: 16px;
        margin-right: 16px;
        fill: #fff;
      }

      span {
        color: #fff;
      }
    }
  }
}

.newsletter {
  margin: 32px 0;

  p {
    color: #fff;
    font-size: 14px;
    line-height: 25px;
  }

  form {
    margin-top: 16px;

    input:not([type='submit']) {
      width: 100%;
      padding: 8px;
      background-color: #fff;
      border: none;
    }

    input[type='submit'] {
      margin-top: 16px;
      padding: 8px 32px;
      background-color: $red;
      border: 1px solid $red;
      color: #fff;
      font-size: 14px;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
    }
  }
}

.links-rapidos .quick-link {
  a {
    padding: 8px 0;
    display: block;
    color: #fff;
  }
}

.social-footer {
  margin: 32px 0;
  display: grid;
  grid-template-columns: repeat(2, 32px);
  grid-template-rows: repeat(2, 32px);
  gap: 16px;

  a {
    align-self: center;
    justify-self: center;

    svg {
      width: 32px;
      height: 32px;
      fill: #fff;
    }
  }
}

.map {
  position: relative;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s background-color ease;
    user-select: none;
    pointer-events: none;
  }

  &:hover::before {
    background-color: rgba(0, 0, 0, 0);
  }

  iframe {
    width: 100%;
  }
}

.rodape {
  width: 100%;
  padding: 32px 0;
  background-color: #262626;

  p {
    text-align: center;
    font-size: 13px;
    color: #fff;

    a {
      color: #fff;
    }
  }

  .salt-footer {
    margin-top: 16px;
    display: block;
    text-align: center;

    img {
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    > .container {
      margin-bottom: 64px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 64px;
    }
  }

  .social-footer,
  .newsletter {
    margin: 0;
  }
}

@media screen and (min-width: 1050px) {
  .footer {
    > .container {
      grid-template-columns: 2fr 2fr 1fr 1fr;
      gap: 32px;
    }
  }

  .rodape .container {
    position: relative;

    a {
      margin: 0;
    }

    img {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate3d(0, -50%, 0);
    }
  }
}
